* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	gap: 2em;
}

.body__h1 {
	color: rgb(211, 70, 70);
	box-shadow: 2px 3px 4px black;
	text-align: center;
}

.body__form {
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: center;
}
